<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <style>
                form {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                .param {
                    display: flex;
                    flex-wrap: wrap;
                }
                #add-row {
                    float: right;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if form is defined %}
                {{ form_start(form, {'attr': {'id': 'form'}}) }}
                <div id="wrapper">
                    <div class="param">
                        <select class="form-control col-3 mx-1" id="form_property" name="form[property][]">
                            <option>size</option>
                            <option>forks</option>
                            <option>stars</option>
                            <option>followers</option>
                        </select>
                        <select class="form-control col-3 mx-1" id="form_option" name="form[option][]">
                            <option>></option>
                            <option><</option>
                            <option>=</option>
                        </select>
                        <input class="form-control col-3 mx-1" type="number" min="0" required id="form_value" name="form[value][]" value="" />
                    </div>
                </div>
                <hr>
                <button class="btn btn-primary" type="submit" id="form_submit" name="form[submit]">Apply</button>
                <a href="#" class="btn btn-warning" id="clear">Clear</a>
                <button class="btn btn-success" id="add-row">Add rule</button>
                {{ form_end(form) }}
            {% endif %}
            {% if items is defined %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <td>Name</td>
                        <td>Link</td>
                        <td>Stars</td>
                        <td>Forks</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td><a href="{{ item.html_url }}">{{ item.html_url }}</a></td>
                                <td>{{ item.stargazers_count }}</td>
                                <td>{{ item.forks }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script>
                $('#add-row').on('click', function () {
                    if ($('.param').length < 4) {
                        $('#wrapper').append(renderAdditionalBlock());
                    }
                });
                $('#wrapper').on('click','.delete',function (e) {
                    e.preventDefault();
                    $(this).parent('.param').remove();
                });
                $('#clear').on('click',function (e) {
                    e.preventDefault();
                    $('.param').filter(":contains('Delete')").remove();
                    $('#form_value').val('');
                });
                function renderAdditionalBlock() {
                    return  '<div class="param my-1">\n' +
                            '<select class="form-control col-3 mx-1" id="form_property" name="form[property][]">\n' +
                            '    <option>size</option>\n' +
                            '    <option>forks</option>\n' +
                            '    <option>stars</option>\n' +
                            '    <option>followers</option>\n' +
                            '</select>\n' +
                            '<select class="form-control col-3 mx-1" id="form_option" name="form[option][]">\n' +
                            '    <option>></option>\n' +
                            '    <option><</option>\n' +
                            '    <option>=</option>\n' +
                            '</select>\n' +
                            '<input class="form-control col-3 mx-1" type="number" min="0" required id="form_value" name="form[value][]" value="" />\n' +
                            '<a href="#" class="delete col-2 pl-1 btn btn-danger mx-1">Delete</a>' +
                            '</div>'
                }
            </script>
        {% endblock %}
    </body>
</html>
