<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if form is defined %}
            {{ form_start(form, {'attr': {'id': 'form'}}) }}
            <div id="qq">
                <div class="dd">
                    <select id="form_property" name="form[property][]">
                        <option>size</option>
                        <option>forks</option>
                        <option>stars</option>
                        <option>followers</option>
                    </select>
                    <select id="form_option" name="form[option][]">
                        <option>></option>
                        <option><</option>
                        <option>=</option>
                    </select>
                    <input type="number" required id="form_value" name="form[value][]" value="ar@bar.com" />
                </div>
            </div>
            {{ form_end(form) }}

            <button id="add-row">+</button>
            {% endif %}
            {% if items is defined %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <td>Name</td>
                        <td>Link</td>
                        <td>Stars</td>
                        <td>Forks</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td><a href="{{ item.html_url }}">{{ item.html_url }}</a></td>
                                <td>{{ item.stargazers_count }}</td>
                                <td>{{ item.forks }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script>
                $('#add-row').on('click', function () {
                    if ($('.dd').length < 4) {
                        $('#qq').append('<div class="dd">\n' +
                            '                    <select id="form_property" name="form[property][]">\n' +
                            '                        <option>size</option>\n' +
                            '                        <option>forks</option>\n' +
                            '                        <option>stars</option>\n' +
                            '                        <option>followers</option>\n' +
                            '                    </select>\n' +
                            '                    <select id="form_option" name="form[option][]">\n' +
                            '                        <option>></option>\n' +
                            '                        <option><</option>\n' +
                            '                        <option>=</option>\n' +
                            '                    </select>\n' +
                            '                    <input type="number" required id="form_value" name="form[value][]" value="ar@bar.com" />\n' +
                            '                </div>'
                        );
                    }
                })
            </script>
        {% endblock %}
    </body>
</html>
